.yourimg{
	display:block;
	margin:0 auto;
	padding:0;
	background-color: black;
	background-repeat:no-repeat;
	background-position: 50% 50%;
	top: 3em;
}

.submitarea{
	display: block;
	position: relative;
	margin: 0 auto;
	width: auto;
}

.submitarea form{
	display:inline;
}
